<div class="mb-4 w-full">
  <div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row">
      <h1 class="text-xl font-bold text-[#072D4B]">{{ news.title | titlecase }}</h1>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row">
      <div class="rounded px-2 py-1 font-medium text-xs text-primary bg-primary-light"
          fxFlex="none">
          {{ news.source.name | titlecase }}
        </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="15px">
    <div class="py-2 text-base text-[#072D4B] opacity-50" fxLayout="row">
      <p>
        {{ news.description }}
      </p>
    </div>
  </div>

  <div fxLayout="row" class="w-full mb-4" *ngIf="news.urlToImage">
    <img class="w-full object-cover h-full object-center block inset-0 rounded-lg" [src]="news.urlToImage">
  </div>

  <div fxLayout="row" class="w-full mb-4">
    <p class="text-base text-[#072D4B] opacity-50">
      {{ news.content }}
    </p>
  </div>

  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" class="w-full mb-4">
    <p class="text-xs text-[#072D4B] opacity-25">
      <span>Published </span>
      <span>{{ news.publishedAt | date: 'medium' }}</span>
    </p>
    <p class="text-xs">
      by {{ news.author | titlecase }}
    </p>
  </div>


</div>


