<div *ngIf="cardType === 'stretched'" class="bg-card py-4 px-6 rounded shadow-md">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxLayoutGap.gt-xs="20px" fxLayoutGap.gt-sm="30px">
    <div fxFlexOrder="1" fxFlexOrder.gt-xs="0" fxFlex="auto" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
      <h3 class="text-base m-0 font-bold">{{ news.title | titlecase}}</h3>
      <p class="text-secondary font-medium text-sm">
        {{ news.description }}
      </p>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" fxLayoutGap.gt-sm="30px">
          <span class="text-[#072D4B] text-opacity-50 text-xs">
            {{ news.source.name| titlecase}}
          </span>
          <span class="text-[#072D4B] text-opacity-50 text-xs">
            {{ news.publishedAt | date }}
          </span>
          <span fxFlex></span>
          <button mat-button color="primary" (click)="readNews(news)">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <mat-icon [icIcon]="icVisibility" class="block text-[#0768B5]"></mat-icon>
              <span class="text-xs text-[#0768B5]" fxHide.lt-sm fxShow.gt-sm>View</span>
            </div>
          </button>
          <button mat-button color="primary" (click)="openAModal({modal: 'addBookmarkModal', action: 'add', extraData: news })">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <mat-icon [icIcon]="icAddBookmark" class="block text-[#0768B5]"></mat-icon>
              <span class="text-xs text-[#0768B5]" fxHide.lt-sm fxShow.gt-sm>Read Later</span>
            </div>
          </button>
      </div>
    </div>
    <div fxFlexOrder="0" fxFlexOrder.gt-xs="1" fxFlex="100%" fxFlex.gt-xs="20%">
      <img [src]="news.urlToImage" class="w-full h-44 inline-block" >
    </div>
  </div>
</div>

<div *ngIf="cardType === 'boxed'" class="bg-card py-4 px-6 w-full max-w-[370px] rounded shadow-md">
  <div fxLayout="column" fxLayout.gt-xs="row" class="w-full" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxFlexOrder="1" fxFlexOrder.gt-xs="0" fxFlex="100%" fxFlex.gt-xs="70%" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <h3 class="text-base m-0 font-bold">{{ news.title | titlecase}}</h3>
      <p class="text-secondary text-sm text-justify" *ngIf="news.description">
        {{ news.description.slice(0, 60) }}...
      </p>
    </div>
    <div fxFlexOrder="0" fxFlexOrder.gt-xs="1" fxFlex="100%" fxFlex.gt-xs="30%" *ngIf="news.urlToImage" fxFlexAlign="start">
      <img [src]="news.urlToImage" class="rounded-lg h-32 object-cover w-full ">
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <span class="text-hint text-xs">
      {{ news.source.name| titlecase}}
    </span>
    <span class="text-hint text-xs">
      {{ news.publishedAt | date }}
    </span>
    <span fxFlex></span>
    <button mat-button color="primary" (click)="readNews(news)">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <mat-icon [icIcon]="icVisibility" class="block text-[#0768B5]"></mat-icon>
        <span class="text-xs text-[#0768B5]" fxHide.lt-sm fxShow.gt-sm>View</span>
      </div>
    </button>
    <button mat-button color="primary" (click)="openAModal({modal: 'addBookmarkModal', action: 'add', extraData: news })">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <mat-icon [icIcon]="icAddBookmark" class="block text-[#0768B5]"></mat-icon>
        <span class="text-xs text-[#0768B5]" fxHide.lt-sm fxShow.gt-sm>Read Later</span>
      </div>
    </button>
  </div>
</div>
