<div fxLayout="column" fxLayoutAlign="start">
  <mat-divider class="border-gray mx-6"></mat-divider>
  <div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="start" class="py-8" fxHide fxShow.gt-xs>
        <span fxLayout="row" fxLayoutAlign="start center" class="text-secondary text-sm">© Dot News, {{ date }}
        </span>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <span class="text-sm text-gray">Privacy Policy</span>
      <span class="text-sm text-gray">Terms of Service</span>
    </div>
  </div>
</div>

