<div class="my-6" [formGroup]="searchForm">
    <div class="p-2 h-12 text-secondary md:w-[495px] sm:max-w-[500px] xs:max-w-[220px] rounded bg-search" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <input fxFlex="auto" class="border-0 mx-2 placeholder:text-gray placeholder:text-base text-sm outline-none bg-transparent"
                placeholder="Search for news" formControlName="search" type="text" required>

        <button mat-icon-button color="primary" class="hover:text-[#0768B5]" [disabled]="!searchForm.valid" (click)="onSubmit(searchFormData)">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>
    </div>
</div>
