<div class="toolbar w-full py-2 px-gutter sm:app-shadow" fxLayout="row" fxLayoutAlign="start center">
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <app-toolbar-search></app-toolbar-search>

  <span fxFlex></span>

  <div class="px-1">
    <app-toolbar-notifications></app-toolbar-notifications>
    <!-- <app-toolbar-notifications (openPopover)="showPopover($event)"></app-toolbar-notifications> -->
  </div>

  <div class="px-1">
    <button [matMenuTriggerFor]="languageMenu" mat-icon-button color="primary" type="button">
      <ng-container *ngFor="let language of languages">
        <mat-icon *ngIf="language.selected" [icIcon]="language.icon"></mat-icon>
      </ng-container>
    </button>
  </div>

  <mat-menu class="h-48 w-44 overflow-y-scroll" #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
      <ng-container *ngFor="let language of languages">
        <button mat-menu-item (click)="selectLanguage(language)">
          <mat-icon [icIcon]="language.icon"></mat-icon>
          <span>{{language.language | titlecase}}</span>
        </button>
      </ng-container>
    </mat-menu>
</div>
