<div class="mb-4 w-full">
  <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row">
        <h1 class="text-xl font-bold">Top Stories for you</h1>
      </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-chip-list aria-label="Filter News">
        <ng-container *ngFor="let options of topStoriesFilter">
          <mat-chip class="white" [value]="options.value" (selectionChange)="onFilterChange(options.value)" [selected]="options.selected">{{options.filter | titlecase}}</mat-chip>
        </ng-container>
      </mat-chip-list>

      <button mat-icon-button color="gray" type="button">
        <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
      </button>
    </div>

    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxFlexAlign="stretch">
        <ng-container *ngIf="leadNews">
          <app-news-entries [cardType]="'stretched'" [news]="leadNews" ></app-news-entries>
        </ng-container>


          <div class="py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="20px">
            <ng-container *ngFor="let news of news?.articles">
              <app-news-entries [cardType]="'boxed'" [news]="news" ></app-news-entries>
            </ng-container>
          </div>
      </div>

    </div>
  </div>
</div>
